/* Seccion CONTACTO */

.banner-contacto{
  background-image: url(../assets/bannerCursos.webp);
  background-position: 30% 40%;
}

.contenedor-form {
  background-color: #333;
  padding: 50px;
  margin-top: 50px;
  border-radius: 20px;
  h1{
  font-family: 'inter', sans-serif;
  color: #fff;
  }
  h2{
    @extend h1;
    font-size: 1rem;
    font-style: italic;
  }
}

.text-container{
  textarea{
    width: 100%;
  }
} 