/* Footer Styles */

footer{
  width: 100%;
  background-color: #27292B;
  height: 100px;
  position: absolute;
  bottom: 0;
  a{
  text-decoration: none;
  color: #fff;
  }
}

// .bi-whatsapp:hover{
//   color: #25D366;
// }

// .bi-instagram:hover{
//   color: #8a3ab9;
// }

// .bi-facebook:hover{
//   color: #3b5998;
// }
